/* 
    CSS
*/


/* links */

.link_ok {
  stroke:blue;
  stroke-opacity: 1px;
}

.link_bad {
  stroke:red;
  stroke-opacity: 1px;  
}

/* nodes */
g.node_ok {

}

g.node_bad {
  outline: solid 3px red;
  outline-offset: 5px;
}

/* node descriptions */
text {
  fill: white;
  font-family: sans-serif;
  font-size: 10px;
}

.node_detail {
  fill: white;
  font-family: sans-serif;
  font-size: 10px;
}

.group_detail {
  fill: white;
  font-family: sans-serif;
  font-size: 20px;
  display:inline;
}

/* link descriptions */
.linktexts text.normal{
  fill: blue;
}

.linktexts text.warning{
  fill: yellow;
}

.linktexts text.danger{
  fill: red;
}

.links path.normal {
  stroke: blue;
}

.links path.warning {
  stroke: yellow;
}

.links path.danger {
  stroke: red;
  stroke-dasharray: 0, 2 1;
}


/* Markers (Arrow head) */
marker#warning {
  fill:yellow;
}

marker#danger {
  fill:red;
}

marker#normal {
  fill:blue;
}

circle {
  opacity:0.1;
  stroke: yellow;
  stroke-width: 1.5px;
}

.nodes{opacity:1;}