/* 
    CSS
*/


/* links */

.link_ok {
  stroke:blue;
  stroke-opacity: 1px;
}

.link_bad {
  stroke:red;
  stroke-opacity: 1px;  
}

/* groups */
g.grouptexts text {
  fill: white;
  font-family: sans-serif;
  font-size: 15px;
  display:inline;
}


/* nodes */
text {
  fill: white;
  font-family: sans-serif;
  font-size: 10px;
}

text tspan{
  fill: black;
  font-family: sans-serif;
  font-size: 10px;
}


/* link descriptions */
.linktexts text.normal{
  fill: blue;
}

.linktexts text.warning{
  fill: yellow;
}

.linktexts text.danger{
  fill: red;
}

.links path.normal {
  stroke: blue;
  stroke-dasharray: 0, 2 1;
}

.links path.warning {
  stroke: yellow;
}

.links path.danger {
  stroke: red;
  stroke-width: 2;
}

/* Markers (Arrow head) */
marker#warning {
  fill:yellow;
}

marker#danger {
  fill:red;
}

marker#normal {
  fill:blue;
}

circle {
  opacity:0.1;
  stroke: yellow;
  stroke-width: 1.5px;
}