/* 
    CSS
*/


/* links */

.link_ok {
  stroke:blue;
  stroke-opacity: 1px;
}

.link_bad {
  stroke:red;
  stroke-opacity: 1px;  
}

/* nodes */
g.node_ok {

}

g.node_bad {
  outline: solid 3px red;
  outline-offset: 5px;
}

/* node descriptions */
text {
  fill: black;
  font-family: sans-serif;
  font-size: 10px;
}

.node_detail {
  fill: black;
  font-family: sans-serif;
  font-size: 10px;
}