@import "reset.css";
@import "nav-bar.css";

body {
  color: white;
  background-color: black;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 68px;
  background-color: blanchedalmond;
}

.main svg {
  border: solid;
}
