@import "reset.css";

body {
  color: white;
  background-color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  font-size: 18px;
  /* display: flex;
  justify-content: flex-end; */
}

.nav__btn {
  margin-left: 20px;
}
